form {
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #fff;
    width: 50%;
    box-shadow: 2px -2px 5px 10px #f2eff2;
}

input {
    padding: 5px 20px;
    width: 50%;
    // line-height: 16px;
    margin: 10px 0;
    border-radius: 5px;
    outline: none;
    height: 40px;
}

#generate {
    height: 40px;
    width: 50%;
    border-radius: 5px;
    background-color: #6381db;
    color: #fff;
    padding: 5px 20px;
    outline: none;
    margin: 10px 0;
}

#image {
    height: 250px;
    width: 300px;
}

#tripDetails {
    margin: auto;
    margin-top: 20px;
    text-align: center;
}